body {
  font-family: Arial, sans-serif;
  background: #f1f1f1;
  margin: 0;
  padding: 0;
}

header {
  background: #0f5132;
  color: white;
  text-align: center;
  padding: 1rem;
}

.logo {
  width: 70px;
}

main {
  padding: 1rem;
}

.card {
  background: white;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 8px;
}

input, button {
  width: 100%;
  padding: 0.6rem;
  margin-top: 0.5rem;
}

button {
  background: #198754;
  color: white;
  border: none;
  border-radius: 6px;
}

button:active {
  background: #146c43;
}

.item-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.remove-btn {
  background: #dc3545;
  border-radius: 4px;
  padding: 0.2rem 0.5rem;
}

.hidden {
  display: none;
  }


#scanner {
  width: 100%;
  height: 300px;
  margin-top: 10px;
}

video {
  width: 100%;
  border-radius: 8px;
}

body.dark {
  background: #121212;
  color: #e0e0e0;
}

body.dark header {
  background: #000;
}

body.dark .card {
  background: #1e1e1e;
}

body.dark button {
  background: #333;
}

.app-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #0f5132;
  padding: 0.5rem 0.8rem;
}

.left {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.logo-small {
  width: 40px;
  height: 40px;
}

.app-title {
  font-size: 1.1rem;
  font-weight: bold;
  color: white;
}

/* Dark mode button */
.mode-btn {
  width: 40px;
  height: 40px;
  border-radius: 6px;
  border: none;
  background: #198754;
  color: white;
  font-size: 1.2rem;
  }

.remove-btn {
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 10px 14px;
  border-radius: 6px;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 6px;
}
